<h3 class="header">Projects</h3>

<button (click)="onAdd()" style="margin-bottom: 20px;" class="btn btn-info float-right">Add</button>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>project Name</th>
      <th>projectDesc</th>
      <th>startDate</th>
      <th>endDate</th>
      <th>status</th>
      <th style="width: 140px;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of project">
      <td>{{project.productId}}</td>
      <td>{{project.name}}</td>
      <td>{{project.projectDesc}}</td>
      <td>{{project.startDate}}</td>
      <td>{{project.endDate}}</td>
      <td>{{project.status}}</td>
      <td>
        <button class="btn btn-sm btn-warning" (click)="onEdit(project.productId)">Edit</button>
        <button class="btn btn-sm btn-danger" style="margin-left: 10px;">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
