<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee List</h2>
    </div>
    <button (click)="onAdd()" style="margin-bottom: 20px;" class="btn btn-info float-right">Add</button>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Frist Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Birth Date</th>
            <th>Contact Information</th>
            <th>Gender</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Delete/View</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let employee of employees'>
            <td>{{employee.empId }}</td>
            <td>{{employee.address }}</td>
            <td>{{employee.birthDate }}</td>
            <td>{{employee.contInfo}}</td>
            <td>{{employee.department }}</td>
            <td>{{employee.designation }}</td>
            <td>{{employee.email }}</td>
            <td>{{employee.firstName }}</td>
            <td>{{employee.gender }}</td>
            <td>{{employee.lastName }}</td>
            <td><button (click)="deleteEmployee(employee.empId)" class="btn btn-danger">Delete</button>
              <button (click)="updateEmployee(employee)" class="btn btn-info">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>