<div class="modal-header">
    <h3>Add Project</h3>
  </div>
  
  <div class="modal-body">
  
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="">Project Name</label>
          <input [(ngModel)]="projectName" type="text" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="">Start Date</label>
            <input [(ngModel)]="startDate" type="date" class="form-control">
          </div>
        </div>

        <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="">End Date</label>
                <input [(ngModel)]="endDate" type="date" class="form-control">
              </div>
            </div>

    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="">Description</label>
          <textarea [(ngModel)]="projectDesc" rows="3" class="form-control"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="">Project Status</label>
            <input [(ngModel)]="status" type="text" class="form-control">
          </div>
        </div>
     
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="">First Name</label>
              <input [(ngModel)]="firstName" type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label for="">Last Name</label>
              <input [(ngModel)]="lastName" type="text" class="form-control">
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="">Email</label>
              <input [(ngModel)]="email" type="email" class="form-control">
            </div>
          </div>
      
          <div class="col-md-8">
            <div class="form-group">
              <label for="">Address</label>
              <input [(ngModel)]="address" type="text" class="form-control">
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="">Birth Date</label>
              <input [(ngModel)]="birthDate" type="date" class="form-control">
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
                <label for="">Contact</label>
                <input [(ngModel)]="contInfo" type="text" class="form-control">
            </div>
          </div>
        </div>
      
    
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="">Gender</label>
            <input [(ngModel)]="gender" type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
              <label for="">Department</label>
              <input [(ngModel)]="department" type="text" class="form-control">
          </div>
        </div>
      </div>
    
    
        <div class="row">
            <div class="col-md-8">
            <div class="form-group">
                <label for="">Designation</label>
                <input [(ngModel)]="designation" type="text" class="form-control">
            </div>
            </div>
        </div> 
      </div> 
    

  <div class="modal-footer">
    <button (click)="onAdd()" class="btn btn-success">Add</button>
    <button (click)="onCancel()" class="btn btn-danger">Cancel</button>
  </div>