<table class="table table-striped">
    <thead>
      <tr>
         
        <th scope="col">Sr No</th>
        <th scope="col">Project Name</th>
        <th scope="col">project Description</th>
        <th scope="col">start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{singleProject.name}}</td>
        <td>{{singleProject.projectDesc}}</td>
        <td>{{singleProject.startDate}}</td>
        <td>{{singleProject.endDate}}</td>
         <td>{{singleProject.status}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Customer Details</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>