<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">MyStore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/project-list">Projects</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/employee-list">Employees</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/customer-list">Customers</a>
      </li>

    </ul>
    <div class="my-2 my-lg-0">
      <button (click)="onLogout()" class="btn btn-outline-success my-2 my-sm-0">Logout</button>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet>

  </router-outlet>
</div>