<h3 class="header">Signin</h3>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form singin">
      <div class="form-group">
        <label for="">User Name</label>
        <input [(ngModel)]="userName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)]="password" type="password" class="form-control">
      </div>
    
      <div class="form-group">
        <button (click)="onSignin()" class="btn btn-info">Signin</button>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>